@{
    ViewData["Title"] = "About";
}
<!--- Image Slider -->
<div class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>

    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Images/background4.jpg" />
            <div class="carousel-caption">
                <h1 class="display-2">Access to Energy for Everyone</h1>
                <h3>Let's help stop the planet from overheating</h3>
            </div>
        </div>
    </div>
</div>

<!-- Top of the page !-->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">There's Couple of things that we provide services for in a wide range</h1>
        </div>
    </div>
</div>


<!--- Two Column Section -->
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-12 col-lg-6">
            <h2>Our Sustainability Impact</h2>
            <p>Reducing Environmental Impact</p>
            <p>Access to Energy</p>
            <p>Tackling the Energy Gap: the Foundation</p>
            <p>Ethics and Compliance</p>
            <p>Sustainable People Practices</p>
            <p>Awards and Rankings</p>
            <br>
            <br>
            <br>
            <h2>Access to Energy for Everyone</h2>
            <p>
                We want everyone on our planet to have access to reliable, safe, efficient, and sustainable energy. To achieve this goal, we
                develop products and solutions that meet a wide range of both individual and community needs across the energy chain:
            </p>
            <p>•	For homes and micro businesses</p>
            <p>•	For fundamental public services: education, healthcare, etc.</p>
            <p>•	For micro-entreprises: agriculture, services</p>
            <p>•	For villages and communities</p>
            <p>•	For emergency situations</p>
            <br>
        </div>
        <div class="col-lg-6">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <img src="~/Images/pic10.jpg" class="img-fluid" />
        </div>
    </div>
    <hr class="my-4">
</div>
<div class="container-fluid padding">
    <div class="row padding">
        <p>
            The main problem we have here is that the solar panels are permanent, and the sun is always moving and because of that movement we can’t consume the maximum power from the sun and these panels are usually put in an open area to be in the best position to consume the solar energy, leading to be unclean and dusty from the pollution
            Since a panel which is incident to the sun can gather more amount of solar energy, the solar panel is attached to a motor.
            We managed to make the panels move with the sun and what made that possible is the equation that indicates that the sun position in Egypt and by using the code we developed, we made the panels move with sun either by automatic mode or manual mode.
        </p>
    </div>
</div>

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-12 col-lg-6">
            <h2>Our Objective</h2>
            <p>•	To move the panels with the sun.  </p>
            <p>•	To clean the solar panel effectively. </p>
            <p>•	To make the system automated using Raspberry.</p>
            <p>•	To avoid much manual work. </p>
            <p>•	To avoid dust associated problems on solar panels.</p>
            <br>
            <br>
            <br>
            <h2>Problem Definition</h2>
            <p>Problem definitions divides into two directions (can’t getting maximum power of the sun, cleaning difficulty) </p>
            <p>•	The main problem we have here is that the solar panels are permanent, and the sun is always moving and because of that movement we can’t consume the maximum power from the sun. </p>
            <p>•	And these panels are usually put in an open area to be in the best position to consume the solar energy which will lead to it getting dirty and dusted from the pollution. </p>

        </div>
        <div class="col-lg-6">
            <img src="~/Images/pic11.jpg" class="img-fluid" />
        </div>
        <div>
            <h2>Why Solar Energy</h2>
            <p>Solar energy - a clean source No greenhouse gas emissions are released into the atmosphere when you use solar panels to create electricity. And because the sun provides more energy than we'll ever need, electricity from solar power is a very important energy source in the move to clean energy production.</p>
            <h2> Our Tasks</h2>
            <p>Work Breakdown Structure (WBS)-the process of dividing the project into manageable tasks and logically ordering them to ensure a smooth evolution between tasks. Some tasks may be performed in parallel where as others must follow one another sequentially.</p>
            <br>
            <p>•	Task sequence depends on which tasks produce deliverables needed in other tasks. </p>

            <p>•	The characteristics of a task can be done by one person or a well-defined group. </p>

            <p>•	Has a single and identifiable deliverable. </p>

            <p>•	Has a known method or technique? </p>

            <p>•	Has well-accepted predecessor and successor steps. </p>

            <p>•	Is measurable so that percent completed can be determined. </p>
        </div>
        <div>
            <h2>Our Plan</h2>
            <br>
            <p>The second phase of the project management process that focus on defining clear, discrete activities and the work needed to complete each activity within a single project spilt two part first one-project tasks, second project team and tasks.</p>
        </div>
    </div>
</div>
