@model SolarPanels.Models.Entites.Panel

@{
    ViewData["Title"] = "Create";
}
    <div style="padding:80px">
        <h1>Create</h1>

        <h4>Panel</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Panel_ID" class="control-label"></label>
                        <input asp-for="Panel_ID" class="form-control" />
                        <span asp-validation-for="Panel_ID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Current_Mode" class="control-label"></label>
                        <input asp-for="Current_Mode" class="form-control" />
                        <span asp-validation-for="Current_Mode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        </div>